<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">Top 10 人氣餐廳</a>
  </li>
</ul>
<br />

<h1>Top 10 人氣餐廳</h1>
<br />
{{#each restaurants}}
<div class="card d-flex flex-row mb-3 mx-auto" style="width: 42vw; height: 13vw">
    <img class="card-img-left col-5 p-0" src="{{this.image}}" alt="Card image cap">
    <div class="card-body col-7">
      <h5 class="card-title">{{this.name}}</h5>
      <span class="badge badge-secondary">收藏數：{{this.favoritedCount}}</span>
      <p class="card-text">{{this.description}}</p>
      <a class="btn btn-primary btn-sm" href="/restaurants/{{this.id}}" role="button">Show</a>
      {{#if this.isFavorited }}
      <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit" class="btn btn-danger btn-sm">移除最愛</button></form>
      {{else}}
      <form action="/favorite/{{this.id}}" method="POST" style="display: contents;"><button type="submit" class="btn btn-primary btn-sm">加到最愛</button></form>
      {{/if}}
    </div>
</div>
{{/each}}
